@model MultiShop.DTOLayer.DTOs.CommentDTOs.GetByIdCommentDTO

@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@ViewBag.v3</h4>
                <br />
                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="CommentID" />
                        <input type="hidden" class="form-control" asp-for="ProductID" />
                        <label>Name Surname</label>
                        <input type="text" class="form-control" asp-for="NameSurname" />
                        <br />
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <br />
                        <label>Comment Detail</label>
                        <textarea class="form-control" rows="3" style="resize:vertical;" asp-for="CommentDetail"></textarea>
                        <br />
                        <label>Image</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Rating</label>
                        <input type="number" class="form-control" max="5" min="0" asp-for="Rating" />
                        <br />
                        <label>Status</label>
                        <input type="text" class="form-control" asp-for="Status" />
                        <br />
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>