@model MultiShop.DTOLayer.DTOs.CatalogDTOs.ProductImageDTOs.UpdateProductImageDTO
@{
    ViewData["Title"] = "ProductImageDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@ViewBag.v3</h4>
                <br />
                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <input type="hidden" asp-for="ProductImageID" />
                        <input type="hidden" class="form-control" asp-for="ProductID" />

                        <label>Product Image 1</label>
                        <input type="text" class="form-control" asp-for="Image1" />
                        <br />
                        <label>Product Image 2</label>
                        <input type="text" class="form-control" asp-for="Image2" />
                        <br />
                        <label>Product Image 3</label>
                        <input type="text" class="form-control" asp-for="Image3" />
                        <br />
                        <label>Product Image 4</label>
                        <input type="text" class="form-control" asp-for="Image4" />
                        <br />
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>