<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/04/Nike-Logo-700x394.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/12/Kappa-Logo-700x394.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/05/Zara-Logo-700x394.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2022/06/Ellesse-Logo-500x281.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/09/Lacoste-Logo-700x394.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/04/Adidas-Logo-700x394.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/05/Calvin-Klein-Logo-700x394.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://logos-world.net/wp-content/uploads/2020/12/Tom-Ford-Logo-700x394.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>