@model MultiShop.DTOLayer.DTOs.CatalogDTOs.FeatureDTOs.UpdateFeatureDTO

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@ViewBag.v3</h4>
                <br />
                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <label class="hidden">Category ID</label>
                        <input type="hidden" class="form-control" asp-for="FeatureID" />
                        <label>Feature Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Icon</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

