@model MultiShop.DTOLayer.DTOs.CatalogDTOs.CategoryDTOs.UpdateCategoryDTO

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@ViewBag.v3</h4>
                <br />
                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="CategoryID" />
                        <label>Category Name</label>
                        <input type="text" class="form-control" asp-for="CategoryName"/>
                        <br />
                        <label>Category Image</label>
                        <input type="text" class="form-control" asp-for="CategoryImage" />
                        <br />
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>