
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Head Start -->
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<!-- Head End -->
<body>

    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")
    <!-- Topbar End -->

    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    <!-- Navbar End -->

    <!-- RenderBody Start -->
    @RenderBody()
    <!-- RenderBody End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    @await Component.InvokeAsync("_ScriptsUILayoutComponentPartial")
    
</body>

</html>